<div class="div_banner">
    <div class="texto_banner">
        <h2>Restaurante Gostozin</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aspernatur quasi veniam necessitatibus dignissimos hic? Commodi vero saepe eius dolorum sequi veniam consectetur placeat nulla nisi facilis hic, est dignissimos?Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugiat animi nam soluta ex explicabo delectus vero eius! Deserunt laboriosam consequuntur sint totam quos nostrum facere corporis aperiam quam itaque?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim suscipit molestias vitae nam, quisquam quod, veritatis optio commodi debitis, rerum atque provident delectus odit pariatur cupiditate nihil aut quia. Placeat?</p>
    </div>
    <ul>
        <a href="#cardapio">    
            <li>Cardapio</li>
        </a>
        <a href="#delivery">    
            <li>Delivery</li>
        </a>
    </ul>
</div>