<div class="cardapio">
    
    <div class="topicos">
        <h3> Cardapio</h3>
        <div class="filtro-categorias">
            <ul>
                <li class="filtro active" data-filter="todos">Todos</li>
                <li class="filtro" data-filter="basico">Basico</li>
                <li class="filtro" data-filter="mistura">Mistura</li>
                <li class="filtro" data-filter="sobremesa">sobremesa</li>
                <li class="filtro" data-filter="lanches">Lanches</li>
            </ul>     
        </div>
        <ul class="prods">
            <li class="list-card basico">
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="arroz">
                </div>
                <div class="prod">
                    <p>Arroz</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                </br>
                    <p>arroz</p>
                </div>
            </li>
            <li class="list-card mistura">
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="bife de lombo">
                </div>
                <div class="prod">
                    <p>Bife de Lombo</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                    <p></p>
                </div>
            </li>
            <li class="list-card sobremesa">
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="gelatina">
                </div>
                <div class="prod">
                    <p>Gelatina</p>
                </div>
                <div class="prod-valor">
                    <p>R$3,00</p>
                </div>
                <div class="prod-ingre">
                    <p></p>
                </div>
            </li>
            <li class="list-card lanches">
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="xBurguer">
                </div>
                <div class="prod">
                    <p>X-Burguer</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                    <p></p>
                </div>
            </li>
        </ul>
        <div class="btns">
            <ul>
                <a href="#delivery">    
                    <li>Pedir Delivery</li>
                </a>
                <a href="#reserva">    
                    <li>Reservar uma Mesa</li>
                </a>
            </ul>
        </div>
        
    </div>
</div>