<div class="cardapio">
    
    <div class="topicos">
        <h3> Cardapio</h3>
        <div class="filtro-categorias">
            <input type="radio" name="cat" id="cat_basico">
            <input type="radio" name="cat" id="cat_mistura">
            <input type="radio" name="cat" id="cat_salada">
            <input type="radio" name="cat" id="cat_sobremesa">
        </div>
        <ul>
            <li>
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="X-Burguer">
                </div>
                <div class="prod">
                    <p>X-Burguer</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                    <p>pao de hamburguer, hamburguer, queijo, ketchup e maionese</p>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="X-Burguer">
                </div>
                <div class="prod">
                    <p>X-Burguer</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                    <p>pao de hamburguer, hamburguer, queijo, ketchup e maionese</p>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="X-Burguer">
                </div>
                <div class="prod">
                    <p>X-Burguer</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                    <p>pao de hamburguer, hamburguer, queijo, ketchup e maionese</p>
                </div>
            </li>
            <li>
                <div class="img">
                    <img src="assets/images/cardapio/prod1.png" alt="X-Burguer">
                </div>
                <div class="prod">
                    <p>X-Burguer</p>
                </div>
                <div class="prod-valor">
                    <p>R$10,00</p>
                </div>
                <div class="prod-ingre">
                    <p>pao de hamburguer, hamburguer, queijo, ketchup e maionese</p>
                </div>
            </li>
        </ul>
        <ul class="btns-cardapio">
            <a href="#">    
                <li>Pedir Delivery</li>
            </a>
            <a href="#reserva">    
                <li>Reservar uma Mesa</li>
            </a>
        </ul>
    </div>
</div>