<div class="delivery">
    
    <div class="topicos">
        
        <h3> Pedir delivery</h3>
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="" placeholder="Nome que será feito o delivery">
        </div>

        <div>
            <label for="rua">Rua / Avenida: </label>
            <input type="text" name="rua" id="" placeholder="Ex: rua joaozinho, Ex: avenida mato grosso ">
        </div>

        <div>
            <label for="numero">Número: </label>
            <input type="text" name="numero" id="" placeholder="Ex: 123 , Ex: 123 b">
        </div>

        <div>
            <label for="bairro">Bairro: </label>
            <input type="text" name="bairro" id="" placeholder="Ex: vale verde ">
        </div>

        <div class="pedido">
            <label for="pedido">Pedido:</label>
            <ul>
                <div class="listapedidos">


                    <div class="itempedido">
                        <div class="pedidoselect">
                            <input type="checkbox" name="pedido" id="Arroz">
                            <label for="Arroz"">
                                <li>
                                    <p>Arroz</p>
                                </li>
                            </label>
                            <div class="qtds">
                                <span>Qtd: </span>
                                <input type="number" name="" id="qtds">
                            </div>
                        </div>
                    </div>

                    <div class="itempedido">
                        <div class="pedidoselect">
                            <input type="checkbox" name="pedido" id="Arroz">
                            <label for="Arroz"">
                                <li>
                                    <p>Arroz</p>
                                </li>
                            </label>
                            <div class="qtds">
                                <span>Qtd: </span>
                                <input type="number" name="" id="qtds">
                            </div>
                        </div>
                    </div>

                    <div class="itempedido">
                        <div class="pedidoselect">
                            <input type="checkbox" name="pedido" id="Arroz">
                            <label for="Arroz"">
                                <li>
                                    <p>Arroz</p>
                                </li>
                            </label>
                            <div class="qtds">
                                <span>Qtd: </span>
                                <input type="number" name="" id="qtds">
                            </div>
                        </div>
                    </div>

                    <div class="itempedido">
                        <div class="pedidoselect">
                            <input type="checkbox" name="pedido" id="Arroz">
                            <label for="Arroz"">
                                <li>
                                    <p>Arroz</p>
                                </li>
                            </label>
                            <div class="qtds">
                                <span>Qtd: </span>
                                <input type="number" name="" id="qtds">
                            </div>
                        </div>
                    </div>

                </div>
            </ul>     
        </div>

        <div class="metodopagamento">
            <label>Método de pagamento: </label>
            <ul>

                <input type="radio" name="metodopagamento" id="dinheiro">
                <label for="dinheiro"><li class="list-metodo1 active">Dinheiro</li></label>

                <input type="radio" name="metodopagamento" id="cartao">
                <label for="cartao"><li class="list-metodo2">Cartão</li></label>

            </ul>
        </div>

        <div>
            <label for="pref">Observações: </label>
            <textarea name="pref" id="" rows="5" placeholder="Ex: Retirar feijão do prato pronto"></textarea>
        </div>

        <div class="btn-delivery btns">
            <ul>
                <a href="#">  
                    <li>
                        Pedir o delivery
                    </li>  
                </a>
            </ul>
        </div>      
    </div>
</div>