<div class="feedback">
    
    <div class="topicos">
        
        <h3> Feedback</h3>
        <div class="feedbacks">
            <h2>Gustavo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quisquam totam libero hic assumenda quo deleniti impedit iusto itaque, enim, unde repudiandae similique sint labore, reiciendis ratione dicta consectetur numquam?</p>
            <div class="avaliacao">
                <p><img src="assets/images/feedback/1estrela.png"></p>
            </div>
        </div>

        <div class="feedbacks">
            <h2>Gustavo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quisquam totam libero hic assumenda quo deleniti impedit iusto itaque, enim, unde repudiandae similique sint labore, reiciendis ratione dicta consectetur numquam?</p>
            <div class="avaliacao">
                <p><img src="assets/images/feedback/0estrela.png"></p>
            </div>
        </div>

        <div class="feedbacks">
            <h2>Gustavo Ornaghi Antunes</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius quisquam totam libero hic assumenda quo deleniti impedit iusto itaque, enim, unde repudiandae similique sint labore, reiciendis ratione dicta consectetur numquam?</p>
            <div class="avaliacao">
                <p><img src="assets/images/feedback/5estrela.png"></p>
            </div>
        </div>
        
        <div class="btn-feedback btns">
            <ul>
                <a href="#">  
                    <li>
                        Fazer um Feedback
                    </li>  
                </a>
            </ul>
        </div>      
    </div>
</div>