<div class="feedback">
    
    <div class="topicos">
        
        <h3> Feedback</h3>

        <div class="feedbacks" id="ava5">
            <div class="foto-feedbacks">
                <div class="img">

                </div>
            </div>
            <div class="title-feedbacks">
                <h4>Gustavo</h4>
            </div>
            <div class="text-feedbacks">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Architecto excepturi, ut dolorem consequuntur maiores perspiciatis facilissuscipit ab expedita 
                    itaque tempore. Magni nulla totam aliquam eveniet natus minima omnis quidem.
                </p>
            </div>
            <div class="ava">
                <i class="far fa-grin-stars"></i>
            </div>
        </div>


        <div class="feedbacks" id="ava4">
            <div class="foto-feedbacks">
                <div class="img">

                </div>
            </div>
            <div class="title-feedbacks">
                <h4>Gustavo</h4>
            </div>
            <div class="text-feedbacks">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Architecto excepturi, ut dolorem consequuntur maiores perspiciatis facilissuscipit ab expedita 
                    itaque tempore. Magni nulla totam aliquam eveniet natus minima omnis quidem.
                </p>
            </div>
            <div class="ava">
                <i class="far fa-grin-stars"></i>
            </div>
        </div>


        <div class="feedbacks" id="ava1">
            <div class="foto-feedbacks">
                <div class="img">

                </div>
            </div>
            <div class="title-feedbacks">
                <h4>Gustavo</h4>
            </div>
            <div class="text-feedbacks">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Architecto excepturi, ut dolorem consequuntur maiores perspiciatis facilissuscipit ab expedita 
                    itaque tempore. Magni nulla totam aliquam eveniet natus minima omnis quidem.
                </p>
            </div>
            <div class="ava">
                <i class="far fa-grin-stars"></i>
            </div>
        </div>
        
        
        <div class="btn-feedback btns">
            <ul>
                <a href="#">  
                    <li>
                        Fazer um Feedback
                    </li>  
                </a>
            </ul>
        </div>      
    </div>
</div>