<footer>
    <div class="sociais">
        <ul>
            <a href="#">
                <li><i class="fab fa-instagram"></i></li>
            </a>
            
            <a href="#">
                <li><i class="fab fa-facebook-f"></i></li>
            </a>
            
            <a href="#">
                <li><i class="fab fa-whatsapp"></i></li>
            </a>
        </ul>
        <p>Nossas redes sociais</p>
    </div>
    <div class="copyright">
        <p>Restaurante Gostozin © 2020</p>
        <p>Desenvolvido por <a href="#">Gustavo Ornaghi Antunes</a></p>
    </div>
</footer>