<div class="infossup">
    <span>WhatsApp: (35) 12345-6789</span>
</div>
<nav class="menusup" id="top">
    <h1><a href="">Restaurante Gostosin</a></h1>
    <ul>
        <a href="#" class="open-mob">
            <li><i class="far fa-stream"></i></li>
        </a>
        <a href="#inicio" class="mob">
            <li>Inicio</li>
        </a>
        <a href="#cardapio" class="mob">
            <li>Cardapio</li>
        </a>
        <a href="#reserva" class="mob">
            <li>Reserva de Mesa</li>
        </a>
        <a href="#delivery" class="mob">    
            <li>Delivery</li>
        </a>
    </ul>
</nav>