<div class="reserva">
    
    <div class="topicos">
        
        <h3> Reserva De Mesa</h3>
        <div class="reservanome">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="" placeholder="Nome que será feito a reserva ">
        </div>

        <div class="quantpessoas">
            <label>Quantidade de pessoas: </label>
            <div>
                <label for="adulto">Adultos: </label>
                <input type="number" name="adulto" id="" placeholder="Ex: 5 ">
                <label for="criancas">Crianças: </label>
                <input type="number" name="criancas" id="" placeholder="Ex: 2">
                
            </div>
        </div>

        <div class="diahr">
            <label>Dia / Hora: </label>
            <div>
                <label for="data">Data: </label>
                <input type="text" name="data" id="" placeholder="dd/mm/aaaa ">
                <label for="hora">Horario: </label>
                <input type="text" name="hora" id="" placeholder="hh:mm ">
            </div>
        </div>

        <div class="reservapref">
            <label for="pref">Preferencias: </label>
            <textarea name="pref" id="" rows="5" placeholder="Ex: Quero uma mesa proximo a janela!!"></textarea>
        </div>
        <div class="btn-reserva btns">
            <ul>
                <a href="#">  
                    <li>
                        Reservar Mesa
                    </li>  
                </a>
            </ul>
        </div>      
    </div>
</div>