::-webkit-scrollbar-track {
    background-color: var(--white);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
}
/*fim Scroll*/
:root{
    --white: #fff;
    --black: #000;
    --ava5: #27ae60;
    --ava4: #f1c40f;
    --ava3: #e67e22;
    --ava2: #d35400;
    --ava1: #c0392b;
    --tblack: rgba(34, 34, 34, 0.733);
    --primary: #a70000;
    --tprimary: rgba(167, 0, 0, 0.432);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html, body{
    width: 100%;
    background: #333;
}
a{
    text-decoration: none;
    color: var(--white) !important;
}
a:hover{
    text-decoration: none;
}
.infossup{
    color: var(--black);
    padding: 0 0 0 2%;
    position: relative;
    z-index: 9999;
    top: 0;
    left: 0;
    line-height: 25pt;
}
.menusup{
    width: 100%;
    background: var(--tblack);
    height: 10vh;
    position: relative;
    top: -100%;
    z-index: 99;
}
.menufixed{
    position: fixed;
    top: 0;
    transition: 5s ease-in-out;
}
.clear{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: relative;
    z-index: -1;
}
nav.menusup h1{
    float: left;
    line-height: 10vh;
    margin-left: 2%;
    font-size: 30pt;
    color: var(--white);
}
nav.menusup li, div.div_banner li{
    display: inline-block;
    line-height: 10vh;
    margin: 0 4% 0 4%;
}
nav.menusup ul{
    float: right;
    margin-right: 2%;
    font-size: 15pt;
    width: 40%;
}
nav.menusup li:hover{
    text-decoration: underline;
}
div.div_banner{
    width: 100%;
    height: 100vh;
    min-height: 700px;
    position: absolute;
    top: 0;
    z-index: 0;
    background-image: url(../images/comida_fundo.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.div_banner h2{
    font-size: 40pt;
    color: var(--white);
    text-transform: uppercase;
}
div.div_banner p{
    line-height: 25pt;
    color: var(--white);
    font-size: 15pt;
    text-indent: 50pt;
    text-align: justify;
}
div.div_banner ul{
    font-size: 17pt;
    width: 100%;
    text-align: center;
    margin-top: 3%;
    position: relative;
}
div.div_banner li{
    height: 5vh;
    line-height: 5vh;
    background: var(--tblack);
    width: 10%;
    border: 1px solid var(--primary);
    border-radius: 2px;
    transition: .4s linear;
    text-transform: uppercase;

}
.div_banner li:hover{
    background: var(--primary);
}
div.texto_banner{
    background-image: linear-gradient(to right, var(--tblack) 30%, rgba(34, 34, 34, 0.089), transparent);
    margin: 13% 40% 0 0;
    padding: 2%;
    position: relative;
    left: -100%;
}
nav.menusup .open-mob{
    display: none;
}
.display-block{
    display: block !important;
    background-color: rgba(0, 0, 0, 0.829);
}
/*=====================================================fim de banner e menu=================================================*/
.topicos{
    width: 70%;
    display: inline-block;
    background-color: rgba(58, 58, 58, 0.514);
    margin: 0 10% 5% 10%;
    padding: 4% 5% 5% 5%;
}
h3{
    font-size: 20pt;
    color: var(--white);
    margin: 0 0 1% 0;
    text-transform: uppercase;
}
h3::before{
    content: "•";
}
.filtro-categorias,.metodopagamento{
    display: inline-block;
    width: 100%;
}
.metodopagamento input{
    display: none;
}
.filtro-categorias input:checked + label,.metodopagamento input:checked + label{
    text-decoration: underline;
}
.filtro-categorias ul,.metodopagamento ul{
    width: 100% !important;
    height: 5vh;
    margin: 0 auto;
    margin-bottom: 3%;
}
.filtro-categorias li,.metodopagamento li{
    height: 5vh !important;
    text-align: center;
}

.filtro-categorias li,.metodopagamento li{
    width: 20% !important;
    font-size: 15pt;
    margin: 0 auto !important;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.096);
    line-height: 5vh;
}
.filtro-categorias .active,.metodopagamento .active{
    height: 5vh;
}
.filtro-categorias .active,.metodopagamento .active{
    background-color: var(--primary);
    line-height: 5vh;
}


.topicos ul{
    width: 100%;
    float: left;
    list-style: none;
    color: var(--white);
}
.topicos li{
    height: 10vh;
    width: 45%;
    float: left;
    margin: 2%;
}
.topicos div.prod-valor{
    float: right;
    font-size: 16pt;
}
.topicos div.prod-ingre{
    float: left;
    color: #bbb;
    font-family: 'Times New Roman';
    margin-left: -11%;
}
.topicos img{
    border-radius: 30px;
    width: 60px;
    height: 60px;
}
.topicos div.img, .prod{
    float: left;
    font-size: 16pt;
}
.topicos div.img{
    margin: 0 4% 0 0;
}
.btns li{
    background-color: var(--tblack);
    line-height: 5vh;
    height: 5vh;
    text-align: center;
    margin-top: 3%;
    margin-bottom: -5%;
    border: 1px solid var(--primary);
    transition: .4s linear;
    text-transform: uppercase;
}
.btns li:hover{
    background-color: var(--tprimary);
}

/*======================================================Fim cardapio=====================================================*/
input[type="text"],input[type="number"], textarea{
    color: var(--white);
    background-color: var(--tblack);
    border: 1px solid var(--primary);
    border-radius: 5px;
    width: 100%;
    line-height: 25pt;
    font-size: 13pt;
    outline: none;
}
.topicos label{
    color: var(--white);
    font-size: 15pt;
    margin: 10vh 0 10vh 0;
    line-height: 40pt;
}
.quantpessoas, .diahr, .reservanome, .reservapref{
    background: rgba(0, 0, 0, 0.100);
    margin: 1% 0 0 0;
    padding: 2%;
}
.quantpessoas div label, .diahr div label, .reservanome div label, .reservapref div label{
    line-height: 20pt;
}
.btn-reserva,.btn-feedback,.btn-delivery{
    margin-left: 33.3%;
}
/*====================================Fim reserva=====================================*/

#ava5{
    box-shadow: 0 0 7px var(--ava5);
}
#ava5 .ava{
    color: var(--ava5);
}
#ava4{
    box-shadow: 0 0 7px var(--ava4);
}
#ava4 .ava{
    color: var(--ava4);
}
#ava3{
    box-shadow: 0 0 7px var(--ava3);
}
#ava3 .ava{
    color: var(--ava3);
}
#ava2{
    box-shadow: 0 0 7px var(--ava2);
}
#ava2 .ava{
    color: var(--ava2);
}
#ava1{
    box-shadow: 0 0 7px var(--ava1);
}
#ava1 .ava{
    color: var(--ava1);
}

.feedbacks{
    position: relative;
    background: var(--tblack);
    width: 31%;
    height: 500px;
    margin-bottom: 2%;
    display: inline-block;
    border-radius: 5px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    color: var(--white);
    margin: 1%;
}
.feedbacks .foto-feedbacks{
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.foto-feedbacks .img{
    margin: 0 auto;
    height: 125px;
    width: 125px;
    border-radius: 75px;  
    background: url(../images/feedback/perfilp.png) no-repeat;
    background-position: center;
    background-size: 100%;
}
.feedbacks .title-feedbacks{
    width: 100%;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 150px;
    z-index: 2;
}
.feedbacks .text-feedbacks{
    width: 100%;
    text-align: justify;
    position: absolute;
    top: 185px;
}
.text-feedbacks p{
    margin: 10%;
    line-height: 20pt;
}
.feedbacks .ava{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 50px;
    text-align: center;
}
/*====================================Fim feedback=====================================*/
.itempedido{
    position: relative;
    width: 49.7%;
    height: 10vh;
    display: inline-block;
}
.itempedido input[type='checkbox']{
    display: none;
}
.pedidoselect li.active{
    background-color: var(--primary);
}
.pedidoselect{
    position: relative;
    box-shadow: 0 5px 5px var(--tblack);
    width: 100%;
    height: 100%;
}
.pedidoselect li{
    margin: 0;
    width: 100%;
    cursor: pointer;
}
.pedidoselect li p{
    position: absolute;
    left: 0;
    line-height: 10vh;
    margin-left: 5%;
}
.qtds{
    position: absolute;
    right: 0;
    width: 30%;
    line-height: 10vh;
    top: 0vh;
}
.qtds span{
    font-size: 15pt;
    line-height: 5vh;
}
#qtds{
    line-height: 5vh;
    margin-bottom: 2.5vh;
}
.itempedido input[type='number']{
    position: absolute;
    bottom: 0;
    width: 50%;
}


/*====================================Fim delivery=====================================*/
footer{
    height: 30vh;
    background: var(--tblack);
}
footer .sociais{
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 25pt;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sociais li{
    display: inline-block;
    background: var(--tblack);
    padding: 0.2%;
    width: 3%;
    height: 6vh;
    line-height: 6vh;
    border-radius: 5vh;
    transition: .5s;
}
.sociais li:hover{
    background: var(--primary);
}
footer .copyright{
    position: relative;
    top: 63%;
}
.copyright p{
    line-height: 5vh;
    color: var(--white);
    font-size: 15pt;
}
.copyright p:first-of-type{
    float: left;
    margin-left: 5%;
}
.copyright p:last-of-type{
    float: right;
    margin-right: 5%;
}
.copyright p:last-of-type a{
    color: #bbb !important;
    transition: .5s;
}
.copyright p:last-of-type a:hover{
    color: var(--primary) !important;
}

/*====================================Fim rodapé=======================================*/




/*Media Queries*/
/*Menu*/
@media only screen and (max-width: 1271px) {
    .mob{
        display: none;
    }
    nav.menusup ul{
        width: 15%;
        text-align: center;
    }
    nav.menusup .open-mob{
        display: block;
    }
}
/*tablets*/
@media only screen and (max-width: 1200px) {
    nav.menusup h1{
        width: 76%;
        text-align: center;
    }
    div.texto_banner{
        margin: 13% auto;
        width: 80%;
    }
    div.div_banner h2{
        font-size: 30pt;
        text-align: center;
    }
    div.div_banner p{
        font-size: 18pt;
    }
    nav.menusup ul{
        width: 20%;
    }
    div.div_banner li{
        margin: -20% 2% 2% 2%;
        width: 15%;
    }
    
    .topicos li{
        margin-bottom: 10%;
    }
    .topicos{
        padding: 2% 3% 3% 3%;
    }
    h3{
        text-align: center;
    }
    h3::before{
        content: "";
    }
    .feedbacks{
        width: 47%;
    }
    .itempedido{
        width: 49%;
    }
}
/*celular*/
@media only screen and (max-width: 860px) {
    nav.menusup h1{
        width: 76%;
        text-align: center;
        font-size: 18pt;
    }
    .texto_banner{
        display: none;
    }
    .div_banner ul{
        margin-top: 80vh !important;
        width: 100% !important;
    }
    .div_banner li{
        width: 40% !important;
        height: 7vh !important;
        line-height: 7vh !important;
    }
    nav.menusup ul{
        width: 20%;
    }
    .mob li{
        width: 100%;
    }
    .menumob{
        width: 100% !important;
        position: absolute;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.900);
    }
    .display-block{
        background-color: transparent;
    }
    .text-right{
        text-align: right;
    }
    .invi{
        display: none;
    }
    .filtro-categorias ul{
       height: 10vh;
    }
    .filtro-categorias li{
        width: 25% !important;
        height: 5vh;
    }
    .topicos{
        width: 91.5%;
        margin: 0 1.5% 0 1%;
    }
    .topicos li{
        width: 100%;
        margin-bottom: 15%;
    }
    h3{
        margin-bottom: 10%;
        text-align: center;
    }
    h3::before{
        content: "";
    }
    .btns-cardapio{
        margin: 0;
    }
    .btns-cardapio li,.btn-feedback li,.btn-reserva li,.btn-delivery li{
        margin-left: -1%;
        margin-right: 3%;
        height: 8vh;
        line-height: 8vh;
        margin-bottom: 0;
    }
    .btns-cardapio,.btn-feedback,.btn-reserva,.btn-delivery{
        margin-left: 1%;
        margin-right: -1%;
    }
    .feedbacks{
        width: 98%;
        height: 400px;
    }
    .itempedido{
        width: 100%;
    }
}
